<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.p3l_f_1_pegawai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="Kouvee Pet Shop"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".splash_screen_activity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_activity"
            android:theme="@style/SplashTheme">
        </activity>
        <activity
            android:name=".drawer_activity_owner"
            android:label="Kouvee Pet Shop"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".drawer_activity_cs"
            android:label="Kouvee Pet Shop"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Activities.ukuran_hewan.activity_tambah_ukuran"
            android:label="Tambah Ukuran Hewan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.ukuran_hewan.UkuranHewanFragment">
        </activity>
        <activity
            android:name=".Activities.ukuran_hewan.activity_ubah_ukuran"
            android:label="Ubah Ukuran Hewan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.ukuran_hewan.UkuranHewanFragment">
        </activity>
        <activity
            android:name=".Activities.ukuran_hewan.activity_hapus_ukuran"
            android:label="Hapus Ukuran Hewan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.ukuran_hewan.UkuranHewanFragment">
        </activity>
        <activity android:name=".Activities.ukuran_hewan.UkuranHewanFragment"></activity>

        <activity
            android:name=".Activities.jenis_hewan.activity_tambah_jenis"
            android:label="Tambah Jenis Hewan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.jenis_hewan.JenisHewanFragment">
        </activity>
        <activity
            android:name=".Activities.jenis_hewan.activity_ubah_jenis"
            android:label="Ubah Jenis Hewan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.jenis_hewan.JenisHewanFragment">
        </activity>
        <activity
            android:name=".Activities.jenis_hewan.activity_hapus_jenis"
            android:label="Hapus Jenis Hewan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.jenis_hewan.JenisHewanFragment">
        </activity>
        <activity android:name=".Activities.jenis_hewan.JenisHewanFragment"></activity>

        <activity
            android:name=".Activities.produk.activity_tambah_produk"
            android:label="Tambah Produk"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.produk.ProdukFragment">
        </activity>
        <activity
            android:name=".Activities.produk.activity_ubah_produk"
            android:label="Ubah Produk"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.produk.ProdukFragment">
        </activity>
        <activity
            android:name=".Activities.produk.activity_hapus_produk"
            android:label="Hapus Produk"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.produk.ProdukFragment">
        </activity>
        <activity android:name=".Activities.produk.ProdukFragment"></activity>

        <activity
            android:name=".Activities.layanan.activity_tambah_layanan"
            android:label="Tambah Layanan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.layanan.LayananFragment">
        </activity>
        <activity
            android:name=".Activities.layanan.activity_ubah_layanan"
            android:label="Ubah Layanan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.layanan.LayananFragment">
        </activity>
        <activity
            android:name=".Activities.layanan.activity_hapus_layanan"
            android:label="Hapus Layanan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.layanan.LayananFragment">
        </activity>
        <activity android:name=".Activities.layanan.LayananFragment"></activity>

        <activity
            android:name=".Activities.supplier.activity_tambah_supplier"
            android:label="Tambah Supplier"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.supplier.SupplierFragment">
        </activity>
        <activity
            android:name=".Activities.supplier.activity_ubah_supplier"
            android:label="Ubah Supplier"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.supplier.SupplierFragment">
        </activity>
        <activity
            android:name=".Activities.supplier.activity_hapus_supplier"
            android:label="Hapus Supplier"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.supplier.SupplierFragment">
        </activity>
        <activity android:name=".Activities.supplier.SupplierFragment"></activity>

        <activity
            android:name=".Activities.pengadaan.activity_detail_pengadaan"
            android:label="Detail Pemesanan Produk"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.pengadaan.PengadaanFragment">
        </activity>
        <activity
            android:name=".Activities.pengadaan.activity_tambah_pengadaan"
            android:label="Tambah Pengadaan Produk"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.pengadaan.PengadaanFragment">
        </activity>
        <activity
            android:name=".Activities.pengadaan.activity_ubah_pengadaan"
            android:label="Ubah Pengadaan Produk"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.pengadaan.activity_detail_pengadaan">
        </activity>
        <activity
            android:name=".Activities.pengadaan.activity_ubah_detail_pengadaan"
            android:label="Ubah Detail Pengadaan Produk"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.pengadaan.activity_ubah_pengadaan">
        </activity>
        <activity android:name=".Activities.pengadaan.PengadaanFragment"></activity>

        <activity
            android:name=".Activities.konsumen.activity_detail_hapus_konsumen"
            android:label="Detail Data Konsumen"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.konsumen.KonsumenFragment">
        </activity>
        <activity
            android:name=".Activities.konsumen.activity_tambah_konsumen"
            android:label="Tambah Konsumen"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.konsumen.KonsumenFragment">
        </activity>
        <activity
            android:name=".Activities.konsumen.activity_ubah_konsumen"
            android:label="Ubah Konsumen"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.konsumen.activity_detail_hapus_konsumen">
        </activity>
        <activity android:name=".Activities.konsumen.KonsumenFragment"></activity>

        <activity
            android:name=".Activities.hewan.activity_detail_hapus_hewan"
            android:label="Detail Data Hewan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.hewan.HewanFragment">
        </activity>
        <activity
            android:name=".Activities.hewan.activity_tambah_hewan"
            android:label="Tambah Hewan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.hewan.HewanFragment">
        </activity>
        <activity
            android:name=".Activities.hewan.activity_ubah_hewan"
            android:label="Ubah Hewan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.hewan.activity_detail_hapus_hewan">
        </activity>
        <activity android:name=".Activities.hewan.HewanFragment"></activity>

        <activity
            android:name=".Activities.penjualan_layanan.activity_detail_penjualan_layanan"
            android:label="Detail Penjualan Layanan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.penjualan_layanan.PenjualanLayananFragment">
        </activity>
        <activity
            android:name=".Activities.penjualan_layanan.activity_tambah_penjualan_layanan"
            android:label="Tambah Transaksi Layanan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.penjualan_layanan.PenjualanLayananFragment">
        </activity>
        <activity
            android:name=".Activities.penjualan_layanan.activity_ubah_hapus_penjualan_layanan"
            android:label="Ubah Transaksi Layanan"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.penjualan_layanan.PenjualanLayananFragment">
        </activity>
        <activity android:name=".Activities.penjualan_layanan.PenjualanLayananFragment"></activity>

        <activity
            android:name=".Activities.penjualan_produk.activity_detail_penjualan_produk"
            android:label="Detail Penjualan Produk"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.penjualan_produk.PenjualanProdukFragment">
        </activity>
        <activity
            android:name=".Activities.penjualan_produk.activity_tambah_penjualan_produk"
            android:label="Tambah Transaksi Produk"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.penjualan_produk.PenjualanProdukFragment">
        </activity>
        <activity
            android:name=".Activities.penjualan_produk.activity_ubah_hapus_penjualan_produk"
            android:label="Ubah Transaksi Produk"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.penjualan_produk.PenjualanProdukFragment">
        </activity>
        <activity android:name=".Activities.penjualan_produk.PenjualanProdukFragment"></activity>

        <activity android:name=".Activities.akun.AkunFragment"></activity>
        <activity android:name=".logout_activity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>